@charset "UTF-8"

@import url('https://fonts.googleapis.com/css2? family= Saira+Condensed:wght@400;600;800 & display=swap');



* {
    margin: 0;
    padding: 0;
}

:root {
    --cor01: #84DCC6;
    --cor02: #478978;
    --cor03: #E6AF2E;
    --cor04: #171738;
    --cor05: #B9314F;

    

}

body{
    margin: 0;
}

header{
    background-image: linear-gradient(to bottom, var(--cor01),var(--cor02)); 
    
}

header h1 {
    font-family: 'Saira Condensed', 'sem serifa';
    margin: 0;    
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
}

header h1 a {
    text-decoration: none;
    color: white;    
}

nav {
    padding: 10px 10px 10px 30px;
    background-image: linear-gradient(to right, #62a796c6, white);
     
    
}

nav a {
    color: white;
    margin-right: 25px;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
    
}

nav a:hover {
    text-decoration: underline;
    background-color: white;
    color: #62a796c6;
    padding: 5px;
    margin: 3px;
    border-radius: 3px;
}
