@charset "UTF-8"

@import url('https://fonts.googleapis.com/css2? family= Saira+Condensed:wght@400;600;800 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');



* {
    margin: 0;
    padding: 0;
}

:root {
    --cor01: #84DCC6;
    --cor02: #478978;
    --cor03: #E6AF2E;
    --cor04: #171738;
    --cor05: #B9314F;   

}

body{
    margin: 0;
    background-color: #478978;
    
}

/* Header */

#logo {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Courgette', cursive;
    text-decoration: none;
    color: #9f2842;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 70px;
    padding: 1.5rem;
    background: #7ac9b6;
}

#header li a {
    text-decoration: none;
    color: #9f2842;
    font-weight: bold;
    font-family: sans-serif;
}

#header a:hover {
    color: white;

}

#menu {
    display: flex;
    list-style: none;
    gap: .4rem
}

#menu a {
    display: block;
    padding: .5rem;
}

#btn-mobile {
    display: none;
}

@media (max-width: 600px) {
 
    #menu {
        /* display: none; */
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #84DCC6;
        height: 0;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;

    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0,  .05);
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger {
        width: 20px;
        border-top: 2px solid;
    }
    #hamburger::after, #hamburger::before {
        content: '';
        width: 20px;
        display: block;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

}
/* Final Header */  

/* inicio main-index */

main {
    padding: 25px;
    max-width: 1000px;
    min-width: 280px;
    margin: auto;
    background-color: #ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.inicio-main{
    padding: 15px 50px;
}
 
article img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.716);
}

article h1 {
    margin-bottom: 15px;
    color: #9f2842;
    font-family: Arial, Helvetica, sans-serif;
}

article h2 {
    margin: 15px 0px;
    color: #9f2842;
    font-family: Arial, Helvetica, sans-serif;
}

article p {
    text-align: justify;
    text-indent: 30px;
    line-height: 1.4rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    background-color: #366c5e;
    text-align: center;
    font-size: .7rem;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

footer a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

footer a:hover {
    color: #9f2842;
    text-decoration: underline;
}

/* final main-index */

/* inicio main-estrutura */

#box-lista {
    background-color: #417f6f86;
    max-width: 600px;    
    padding: 20px 0px 20px 40px;
    line-height: 30px;
    border-radius: 5px;
    margin: 40px 30px 0px 30px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.716);
}

#lista li a {
    text-decoration: none;
    color: #9f2842;
    font-size: 20px;    
}

#lista li a:hover {
    text-decoration: underline;
    color: white;
}



#box-servicos {
    margin-top: 50px;
    padding: 10px;
}

#citytour {
    display: flex;
    flex-direction: column;
    padding: 3px;
}

#box-city {
    max-width: 950px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 25px;
    margin-top: px;  
}

#box-city img {
    max-width: 270px;
    display: flex;
    padding: 6px;
    margin: 10px;
    border-radius: 5px;
}

#box-city #barra{
        max-width: 270px;
        display: inline;
}

/* final main-estrutura */

